[submodule "momentum-bootstrap"]
	path = momentum-bootstrap
	url = https://github.com/TylerAPfledderer/momentum-bootstrap
	branch = master

[submodule "firebasejs-bootstrap"]
	path = firebasejs-bootstrap
	url = https://github.com/TylerAPfledderer/firebasejs-bootstrap
	branch = main

[submodule "paws-bootstrap"]
	path = paws-bootstrap
	url = https://github.com/TylerAPfledderer/paws-bootstrap
	branch = main

[submodule "social-app-bootstrap"]
	path = social-app-bootstrap
	url = https://github.com/TylerAPfledderer/social-app-bootstrap
	branch = main